<!DOCTYPE html>
<html>
  <head>
    <link rel="apple-touch-icon" sizes="57x57" href="../icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../icons/favicon-16x16.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="apple-mobile-web-app-title" content="BEARapp">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../static/bearapp.css">
    <script type="text/javascript" src="../static/bearapp.js"></script>
    <title>BEARapp</title>
  </head>
  <body onload="initiate()">
    <div id="container">
      <div id="left-window" class="focus-window">
        <center>
          <div id="clock-status"></div>
          <div id="clock-btn">Clock In</div>
      </center>
      </div>
      <div id="right-window">
        Calendar
      </div>
      <div id="window-base">
        <div id="left-window-btn">
          <div id="left-window-icon"><i class="material-icons" id="left-window-icon-i">schedule</i></div>
        </div>
        <div id="right-window-btn">
          <div id="right-window-icon"><i class="material-icons" id="right-window-icon-i">event</i></div>
        </div>
        <div id="window-indicator" class="focus-window"></div>
      </div>
    </div>
  </body>
</html>
