xmp {
  
  font-family: 'Raleway', sans-serif;
  margin: 0;
  display: inline-block;

}

.select {

  display: inline-block;
  position: relative;
  width: 30%;
  background-color: #FFF;
  margin: 3%;

}

.edrop-sbox {

  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  font-size: 120%;
  text-align: left;
  border: solid 1px #BBB;
  border-radius: 9px;
  user-select: none;
  background-color: #FFF;

}

.edrop-sbox-prompt {

  color: #BBB;

}

.select-inner {

  position: absolute;
  display: none;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: #FFF;
  border: solid 1px #BBB;
  border-top: none;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  overflow: hidden;
  transition: height 0.2s, padding 0.2s;
}

.tbox-div {
  
  width: 100%;
  height: fit-content;
  margin-bottom: 8px;
  background-color: #FFF;

}

.edrop-tbox {

  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 100%;
  border: solid 1px #BBB;
  border-radius: 3px;
  background-color: #FFF;

}

.edrop-tbox:focus {

  outline: none;

}

.caret {

  position: absolute;
  width: 10px;
  height: 10px;
  right: 4%;
  top: 50%;
  transform: translateY(-75%) rotate(-45deg);
  border: solid 1px #BBB;
  border-top: none;
  border-right: none;
  transition: transform 0.4s;
  user-select: none;

}

.opt-other {

  font-size: 100%;
  color: #2D3;

}

.search-div {

  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  right: 18px;
  top: 18px;


}

.search {

  box-sizing: border-box;
  font-size: 100%;
  color: #BBB;
  user-select: none;

}

.edrop-optbox {

  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  max-height: 40vh;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  user-select: none;
  background-color: #FFF;

}

.optbox-opt {

  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  text-align: left;
  padding: 8px;
  user-select: none;
  background-color: #FFF;
  transition: background-color 0.2s;

}

.optbox-opt-none {

  color: #BBB;

}

.optbox-opt-other {

  display: inline-block;

}
